.fade-in{
	opacity: 1;
	animation: fadingInAnimation 0.3s;
	-moz-animation: fadingInAnimation 0.3s; /* Firefox */
	-webkit-animation: fadingInAnimation 0.3s; /* Safari and Chrome */
	-o-animation: fadingInAnimation 0.3s; /* Opera */
}

@keyframes fadingInAnimation{
	from {opacity: 0}
	to {opacity: 1}
}

@-moz-keyframes fadingInAnimation{
	from {opacity: 0}
	to {opacity: 1}
}
	
@-webkit-keyframes fadingInAnimation{
	from {opacity: 0}
	to {opacity: 1}
}
	
@-o-keyframes fadingInAnimation{
	from {opacity: 0}
	to {opacity: 1}
}

.wobble{

	animation: wobbleAnimation 0.3s linear;
	-moz-animation: wobbleAnimation 0.3s linear; /* Firefox */
	-webkit-animation: wobbleAnimation 0.3s linear; /* Safari and Chrome */
	-o-animation: wobbleAnimation 0.3s linear; /* Opera */

}

@keyframes wobbleAnimation{
	0% {transform: rotateZ(0deg)}
	25% {transform: rotateZ(10deg)}
	50% {transform: rotateZ(-10deg)}
	100% {transform: rotateZ(0deg)}
}

@-moz-keyframes wobbleAnimation{
	0% {-moz-transform: rotateZ(0deg)}
	20% {-moz-transform: rotateZ(10deg)}
	40% {-moz-transform: rotateZ(-10deg)}
	80% {-moz-transform: rotateZ(10deg)}
	100% {-moz-transform: rotateZ(0deg)}
}
	
@-webkit-keyframes wobbleAnimation{
	0% {-webkit-transform: rotateZ(0deg)}
	20% {-webkit-transform: rotateZ(10deg)}
	40% {-webkit-transform: rotateZ(-10deg)}
	80% {-webkit-transform: rotateZ(10deg)}
	100% {-webkit-transform: rotateZ(0deg)}
}
	
@-o-keyframes wobbleAnimation{
	0% {-o-transform: rotateZ(0deg)}
	20% {-o-transform: rotateZ(10deg)}
	40% {-o-transform: rotateZ(-10deg)}
	80% {-o-transform: rotateZ(10deg)}
	100% {-o-transform: rotateZ(0deg)}
}