@charset "UTF-8";
/* CSS Document */

*{
	-webkit-transform: translateZ(0);
	/*-webkit-perspective: 1000;*/
	/*-webkit-backface-visibility: hidden;*/

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-tap-highlight-color: rgba(0,0,0,0);

}

h1, h2, h3, h4, h5, h6, p, ul, li {
	margin:0;
	padding: 0;
	color: #dcdcdc;
	/*text-align: center;*/
}

html{
	height:100%;
	width:100%;
	background-color:rgb(245,245,245);
	background-position:center 0px;
	background-size:100%;

}

body{
	font-family: 'Hind', Arial, Helvetica, sans-serif;
	font-size:12pt;
	margin:0px;
	background-attachment: scroll;
	background-repeat: repeat-y;
	width:100%;
	height:100%;
}

h3{
	font-size: 22px;
}

p{
	font-size: 12px;
	color: rgba(0,0,0,0.4);
}

button{
	border: 0px solid black;
	width: 200px;
	border-radius: 50px;
	padding: 10px;
	color: white;
	margin-top: 10px;
	cursor: pointer;
}

.view{
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
}

.view[data-is-active-view=false], [data-visible=false]{
	display: none;
}

#startScreen #welcomeControls{
	width: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -150px;
}

#startScreen #welcomeControls h1{
	color:#dcdcdc;
}

#startScreen #welcomeControls button{
	background: #36a5eb;
}

#startScreen #welcomeControls button#continueBtn{
	background-color: #5EDA72;
}

#startScreen #signYourWork{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
	display: inline-block;
	margin-top: 10px;
	font-size: 12px;
	width: 150px;
	outline: 0px solid black;
}

#menuBtn{
	position: fixed;
	left: 10px;
	top: 10px;
	cursor: pointer;
}

#menuBtn img{
	width: 30px;
	height: 30px;
}

#counters{
	width: 250px;
	position: fixed;
	right: 10px;
	top: 10px;
	text-align: right;
}

#counters h3{
	font-size: 22px;
	color: #DCDCDC;
	font-weight: 800;
	margin: 0px;
	padding: 0px;
	line-height: 1.2em;
}

#gameGrid{
	width: 335px;
	height: 335px;
	/*background: grey;*/
	/*border:1px solid rgba(0,0,0,0.1);*/
	margin: 0 auto 0 auto;
	position: relative;
	top: 50%;
	margin-top: -168px;
}

#gameGrid span{
	width: 80px;
	height: 80px;
	display: inline-block;
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
	float: left;
	margin-right: 3px;
	margin-bottom: 3px;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	/*border: 1px solid black;*/
}

#gameGrid span[data-reveal=true]{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	box-shadow: 0 0 10px black;
	z-index: 1000;
	position: relative;
}

#gameGrid #timer{
	float: left;
	width: 100%;
	max-width: 99%;
	height: 5px;
}

#gameGrid #timer #runningOut{
	width: 100%;
	height: 100%;
	float: left;
	background-color: #84D2FC;
}

#lives{
	width: 242px;
	height: 65px;
	/*background-color: #F00;*/
	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left: -115px;
}

#lives span{
	width: 45px;
	height: 45px;
	/*background-image: url('./assets/images/lives_inverted.png');*/
	background-size: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	display: inline-block;
	background-color: #dcdcdc;
	overflow: hidden;
}

#lives span img{
	width: 45px;
	height: 45px;
	position: relative;
	top: -54px;
	display: inline-block;
}

#lives span.life span{
	background-color: #fb8989;
	width: 45px;
	height: 45px;
	background-image: none;

	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, transform 0.3s ease-in-out;
	
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

#lives span.life[data-lost=true] span{
	-webkit-transform: translateY(45px);
	-moz-transform: translateY(45px);
	transform: translateY(45px);
}

/*#lives span.lost{
	background-image: url('./assets/images/lives_lost.png');
}*/

#colorHistory{
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 20px;
	background-color: #dcdcdc;
	overflow-y:hidden;
	overflow-x:scroll;
}

#colorHistory span{
	width: 10px;
	display: inline-block;
	float: left;
	height: 100%;
}

#gameOver #retryControls{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
	width: 300px;
}

#gameOver #retryControls h1{
	color: #fb8989;
}

#gameOver #retryControls #tryAgainBtn{
	background: none repeat scroll 0% 0% #36a5eb;
}

#gameOver #retryControls #finalScore{
	margin-top: 15px;
}

#gameOver #commiserations ul, #gameOver #commiserations ul li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#gameOver #commiserations ul{
	max-height: 100px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	width: 300px;
	border-radius: 5px;
	margin-top: 10px;
}

#gameOver #commiserations ul li{
	width: 100%;
	height: 20px;
	display: block;
	margin-bottom: 1px;
}

@media all and (max-width: 500px){

	#counters h3{
		font-size: 14px;
	}

	#lives{
		-webkit-transform: scale(0.5);
		-webkit-transform: translateY(15px);
		transform: scale(0.5) translateY(15px);
	}

	#gameGrid{
		width: 280px;
		height: 280px;
		margin-top: -140px;
	}

	#gameGrid span{
		width: 67px;
		height: 67px;
	}

}

@media all and (max-height: 395px){

	#counters{
		margin-top: 0px;
		width: 80px;
		top: 6px;
	}

	#counters h3{
		display: inline-block;
		margin-right: 5px;
		font-size: 10px;
		color: #c6c6c6;
		float: right;
	}

	#gameGrid{
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	#lives{
		-webkit-transform: scale(0.5) translateY(45px);
		transform: scale(0.5) translateY(45px);
	}

	#lives span img{
		/*top:-50px;*/
	}

}

@media all and (max-height: 395px) and (max-aspect-ratio: 2/1){
	#lives{
		display: block;
	    float: left;
	    position: fixed;
	    left: 0px;
	    width: 50px;
	    top: 50%;
	    margin-top: -100px;
	    margin-left: 0;
	}
}